.highlight {
    border-radius: 0.4rem;
    color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.bold {
    padding-left: 1rem;
    font-weight: 700;
}
.akurasi {
    color: black;
    background-color: #84e3df;
}
.bilanca {
    color: black;
    background-color: #e5ef6c;
}
.dynami {
    background-color: #be4153;
}
.fortia {
    color: black;
    background-color: #fff231;
}
.katukma {
    background-color: #2a41e7;
}
.qarshilik {
    color: black;
    background-color: #94d6a4;
}
.raug {
    background-color: #10b2b5;
}
.simba {
    background-color: #ff3131;
}
.usawa {
    color: black;
    background-color: #efb1ee;
}
.vastus {
    background-color: #088d4b;
}
